body {
    background-color: rgb(52, 133, 162);
    background-image: url("3.png");
    background-repeat: no-repeat;
    
    background-size:cover;
  }
  
  h1 {
    text-align: center;
    margin: 10vh 0 0 0;
    font-family: Arial;
    font-size: 2rem;
  }
  
  .container {
    width: 100%;
    min-height: 100vh;
  }
  
  .center {
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  table {
    table-layout: initial;
    margin: 40px auto;
    border-style: groove;
    background-color: #E1BEE7;
  }
  
  table.list {
    font-family: 'Serif', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 100%;
  }
  
  td {
    border: 2px solid rgb(500, 300, 300);
    text-align: left;
    padding: 8px 15px;
    background-color:aqua(255, 42, 4) ;
  }
  
  tr:nth-child(even),
  table.list thread > tr {
    background-color: #5c8149;
  }
  
  input[type="text"] {
    width: 95%;
    padding: 10px 10px;
    margin: 0px 0 10px 0;
    display: inline-block;
    border: none;
    border-radius: 6px;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background: rgb(58, 70, 23);
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: #c78543;
    border-radius: 1.5cm;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  button:hover {
    background: #823679;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background: #d4c823;
    color: white;
    font-size: 1.2rem;
    font-family: Arial;
  }
  
  tbody {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .input-part {
    font-family: sans-serif;
    font-size: 1.3rem;
  }
  
  button {
    background: #35a260;
    color: white;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
  }